services:
  postgres:
    image: postgres:16-alpine
    container_name: restrosync-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: restrosync
      POSTGRES_PASSWORD: restrosync_dev
      POSTGRES_DB: restrosync
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: restrosync-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
